@import "variables";

.header {
	min-height: 54px;
	margin-bottom: 22px;
	font-family: Exo-SemiBold, serif;
	background-color: rgba(0, 23, 38, 0.2);

    &__nav {
        min-height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
		flex-wrap: wrap;
    }

	a {
		//margin-right: 80px;
		font-size: 16px;
		color: #000;
		text-decoration: none;
		transition: $transition;
		
		&:hover {
			color: $mainColor;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	@media (max-width: 768px) {
		&__nav {
			justify-content: center;
		}

		a:not(:last-of-type) {
			margin-right: 20px;
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		&__nav {
			height: 54px;
		}

		a {
			display: inline-block;
		}
	}
}


.contacts {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	align-items: center;

	&__logo-block {
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: #000;
		font-size: 17px;
		font-family: Exo-Bold, serif;

		> div {
			padding-top: 12px;
		}
	}

	&__logo {
		width: 68px;
		height: 68px;
		margin-right: 15px;
	}

	&__phone-block {
		text-align: right;
	}

	&__phone {
		font-size: 20px;
		color: #000;
		font-family: Exo-Bold, serif;
	}

	&__order {
		font-size: 14px;
		border-bottom: 1px solid #dd2c14;
		padding-bottom: 2px;
		color: $mainColor;
		transition: $transition;

			&:hover {
				color: #a3200f;
				border-color: #a3200f;
			}
	}

	@media (max-width: 1200px) {
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		justify-content: center;
		flex-wrap: wrap;

		&__logo-block {
			margin-right: 20px;
			margin-bottom: 16px;
		}

		&__phone-block {
			text-align: center;
		}
	}
}

.main {
	&__description {
		position: relative;
		background-color: #dd2c14;
		color: #ffffff;
		max-width: 54%;  //max-width: 618px;
		text-transform: uppercase;
        font-family: Exo-Bold, serif;
		font-size: 36px;
        margin-bottom: 55px;
        padding: 29px 0 31px 43px;
        line-height: 42px;
		box-sizing: border-box;

		&::after {
			content: '';
			display: block;
			position: absolute;
			right: 16%;
			top: 100%;
			//margin-top: -30px;
			width: 0;
			height: 0;
			border-top: 30px solid #dd2c14;
			border-right: 30px solid #dd2c14;
			border-bottom: 30px solid transparent;
			border-left: 30px solid transparent;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		//position: relative;
        margin-bottom: 45px; // 45
	}

	&__img {
		width: 690px;
		height: 595px;
		background-image: url("../../img/man.svg");
		background-size: 100%;
		background-repeat: no-repeat;
        background-position-y: 100%;
		position: absolute;
		left: 22%;
		bottom: -45px;
		z-index: 2;
	}

	&__advantages {
		position: relative;
		z-index: 1;
		width: 60%;
		color: #fefefe;
        margin-top: 72px;
	}

	&__advantages-tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
		background-color: rgba(0, 23, 38, 0.902);
		margin-bottom: 24px;
		max-width: 696px;
		height: 72px;
        padding-left: 68px;
        background-image: url("../../img/calendar.svg");
        background-repeat: no-repeat;
        background-position: 18px 50%;

        &--profit {
            background-image: url("../../img/handshake.svg");
        }

        &--reliable {
            background-image: url("../../img/ribbon.svg");
        }
	}

    &__advantages-top {
        font-size: 24px;
        font-family: Exo-Bold, serif;
    }

    &__advantages-bottom {
        font-size: 14px;

    }

    &__form {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgba(238, 242, 245, 0.902);
		padding: 22px 38px;
		width: 364px;  //364px;
		//height: 390px;
		text-align: center;

		input:not([type="checkbox"]) {
			height: 42px;
			background-repeat: no-repeat;
			padding-right: 45px;
			padding-left: 6px;
			border: 0;
		}

		input[type="text"] {
			background-image: url("../../img/person.svg");
			background-position: 94% 0;
			margin-bottom: 17px;
		}

		input[type="tel"] {
			background-image: url("../../img/phone.svg");
			background-position: 95% 0;
			margin-bottom: 23px;
		}
    }

	&__form-checkbox-container {
		//position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		
		input[type="checkbox"] {
			position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
		}

		input[type=checkbox] + label {
			padding-left:20px;
			height:15px;
			display:inline-block;
			line-height:15px;
			background-repeat:no-repeat;
			background-position: 0 0;
			font-size:15px;
			vertical-align:middle;
			cursor:pointer;
		}

		input[type=checkbox]:checked + label {
			background-position: 0 -15px;
		}

		label {
			background-image:url(../../img/checkmark.png);
			user-select: none;
		}
	}

	&__form-header  {
		margin: 0 0 19px 0;

		div {
			line-height: 27px; // 12px between divs
			font-size: 24px;
			font-family: Exo-Bold, serif;
			text-transform: uppercase;
		}
	}

	&__form-info {
		font-size: 14px;
		line-height: 18px; // 8px between
		margin-bottom: 22px;
	}

	&__form-terms {
		font-family: ProximaNova-regular, serif;
		font-size: 13px;
		color: #999999;
        //min-width: 270px;
	}

	&__form-btn {
		margin-bottom: 24px;
	}

	@media (max-width: 1200px) {
		&__description {
			max-width: 60%;
			font-size: 1.7em;
		}

		//&__img {
		//	width: 70%; //640px;
		//	left: 28%
		//}

		&__form {
			top: 34px;
			max-width: 320px;
			padding: 10px 20px; //22px 38px;
			font-size: 24px;
		}

		&__form-header div, &__form-btn {
			font-size: 22px !important;	 //4vh; //24px;
		}

		&__form-info {
			font-size: 12px //14px;
		}

		&__form-terms {
			font-size: 11px;
		}
	}

	@media (max-width: 992px) {
		&__description {
			max-width: 80%;
			padding: 11px 0 11px 20px;
			//font-size: 30px;

			&:after {
				display: none;
			}
		}

		&__img {
			display: none;
			width: 72%;
			left: 28%

			// show on top
			//width: 40%;
			//background-position-y: 0;
			//bottom: 120px;
			//left: 34%;
		}
	}

	@media (max-width: 768px) {
		&__description {
			//font-size: 26px;
			margin-bottom: 20px;
		}

		&__bottom {
			margin-bottom: 20px;
		}

		&__form {
			justify-content: space-around;
			max-height: 320px;
			min-height: 300px;

			> * {
				margin-top: 0;
				margin-bottom: 0;
			}

			input[type="text"], input[type="tel"] {
				height: 36px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	@media (max-width: 576px) {
		&__bottom {
			flex-direction: column;
			align-items: center;
		}

		&__form {
			position: static;
			max-width: 304px;

		}

		input[type="text"], input[type="tel"] {
			height: 30px;
			background-position-y: -6px;
		}

		&__description {
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 30px;
			font-size: 24px;
			//padding-left: 10px;
			//padding-right: 10px;
			padding: 8px 10px 8px 10px;
		}

		&__advantages {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	@media (min-width: 1460px) {
		&__img {
			left: 52vh;
		}
	}

}


